.AddFolder {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: clamp(20em, 50vw, 40em);
    height: 20vh;
    border: 1px solid rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddFolder button {
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 20px;
    font-weight: 700;
}

.AddFolder input {
    width: 70%;
    padding: 0.8em;
}