.Login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.appTitle {
    display: flex;
    align-items: center;
}

.appTitle > h2 {
    font-size: 2em;
    padding: 0 0.5em;
}

.logo {
    width: 5em;

}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.input input {
    height: 2em;
    width: clamp(15em, 40vw, 40em);
}

.input label {
    font-weight: 700;
}